node_modules/
test-results/
playwright-report/
playwright-report-smoke/
playwright-report-regression/
playwright/.cache/
*.log
.env
.env.local
.DS_Store
.idea/
.vscode/settings.json
storageState*.json

# Playwright
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
